.outerCont{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    background-color: #fafafa;
    border-radius: 15px;
}
.leftCont{
    display: flex;
    flex-direction: column;
    width: 25%;
}
.leftCont h3{
font-weight: 500;
}

.thisMonthInfo{
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}
.thisMonthInfo p{
    font-size: .8rem;
    color: grey;
}
.priceNProfitCont{
    display: flex;
    align-items: center;
    margin-top: .5rem;
}
.priceNProfitCont h3{
    font-weight: 600;
}
.priceNProfitCont p{
    margin-left: 1rem;
    color: green;
    align-self: end;
}
.orderSaleCont{
    display: flex;
    margin-top: 1rem;
}
.firstItem,.secongItem{
    width: 50%;
    text-align: center;
}
.firstItem p,.secongItem p{
    font-size: .8rem;
    color: grey;
}
.firstItem h4,.secongItem h3{
    font-weight: 500;
    margin-top: .25rem;
    margin-bottom: 0;
}
.rightCont{
    width: 620px;
}

@media(max-width:1552px){
 .leftCont{
    width: 100%;
 }  
 .rightCont{
    margin: auto;
 } 
}