.outerCont{
    padding: 1rem;
    background-color: #fafafa;
    border-radius: 15px;
    margin: auto;
    height: 320px;
}

.title{
    font-weight: 500;
}
.chartCont{
    width: 100%;
    margin-top: 2rem;
}