.outerCont{
    max-width: 100vw;
    min-height: 100vh;
    background-color: #dadada
}
.innerCont{
    height: 100%;
    padding-left: 15.7rem;
    transition: padding-left .7s ease;
    padding-right: 1.5rem;
}
.infoOuterCont,.revOrdCustCont,.uaOsTpCont{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}
.middleEntireDataCont{
    width: 70%;
    padding-left: 2.2rem;
}
.userInfoRightCont{
    width: 26%;
}
.overViewCont,.uaOsTpCont{
    margin-top: 1rem;
}